.royalSlider.fuse .left {
    margin-left: 0;
}

/* 
    Left and right navigation arrows    
*/
.royalSlider.fuse .arrow
{
    background-color:transparent;
    background-image:url(../../images/slider/controls-sprite.png);

    /* change arrows size here */
    width: 50px;
    height: 413px;
    margin-top:-15px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}
/* arrow position in slider with thumbs */
.royalSlider.fuse.with-thumbs .arrow {
    margin-top:-243px;
}
/* Arrow down state */
.royalSlider.fuse .arrow:active {   
    /*background-color: rgba(0,0,0,0.6);*/
}
