/* Slider itself */
.royalSlider.fuse {
    width:619px;
    height:440px;
}

.royalSlider.fuse .info {
    visibility: hidden;
}

/* Slider with thumbs (used to add padding based on thumbnails size)*/
.royalSlider.fuse.with-thumbs {
    padding-bottom: 72px;
}

.royalSlider.fuse .caption {
    color: #666666;
    font-size: 10px;
    line-height: 6px;
    text-align: right;
}
